:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/*
===========================
      Custom Styles
===========================
*/

:root{
  --accent: #f63b3b;
  --accent-dark: #7f1d1d;
  --bg: #242424;
  --bg-latest: #282828;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin-bottom: 4rem;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}


h2{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h3{
  font-size: 1.4rem;
  margin: 0 0 1rem 0;
}

h4{
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

h2::before{
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--accent);
  margin-top: 0.5rem;

}

p {
  max-width: 65ch;
}


a{
  color: var(--accent);
  text-decoration: none;
  margin: 0.2rem 0 0.2rem 0;
}

a:hover{
  opacity: 0.8;
}

/*===========================
    Project card
============================*/

.project-card {
  border: 1px solid #e5e5e5;
  padding: 1rem;
  border-radius: 8px;
  border-color: white;
  margin-bottom: 3rem;
  background-color: transparent;
  color: white;
  transition: transform 0.15s ease, border-color 0.15s ease;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card:hover {
  transform: translateY(-2px);
  border-color: var(--accent);
}


.project-card a {
  text-decoration: none;
  font-weight: 500;
}

.project-card a:hover {
  text-decoration: underline;
}

.tech{
  font-family: ui-monospace, SFMono-Regular, monospace;
  opacity: 0.9;
}


.latest-project-card {
  border-radius: 8px;
  background-color: var(--bg-latest);
  padding: 1rem;
  margin-bottom: 3rem;
  color: white;
  transition: transform 0.15s ease, border-color 0.15s ease;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Hover effect*/
  transition: transform 0.2s ease,
  box-shadow  0.2s ease,
  border-color 0.2s ease;
  border: 1px solid rgba(255,255,255,0.2);;
}

.latest-project-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(246, 59, 59, 0.25);
  border-color: var(--accent);
}

.project-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 6px;
  border: 2px solid var(--accent);
}



/*============
    SPACING
=============*/

section{
  padding: 2rem 0;
}


